<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Arduino_Monitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Arduino_Monitor.Properties.Settings>
            <setting name="live_Scan" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="refresh_index" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="baud_index" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="campo1" serializeAs="String">
                <value>Campo 1</value>
            </setting>
            <setting name="campo2" serializeAs="String">
                <value>Campo 2</value>
            </setting>
            <setting name="campo1_un" serializeAs="String">
                <value />
            </setting>
            <setting name="campo2_un" serializeAs="String">
                <value />
            </setting>
            <setting name="parametro1" serializeAs="String">
                <value />
            </setting>
            <setting name="parametro2" serializeAs="String">
                <value />
            </setting>
            <setting name="campo3" serializeAs="String">
                <value>Campo 3</value>
            </setting>
            <setting name="campo4" serializeAs="String">
                <value>Campo 4</value>
            </setting>
            <setting name="campo3_un" serializeAs="String">
                <value />
            </setting>
            <setting name="campo4_un" serializeAs="String">
                <value />
            </setting>
            <setting name="parametro3" serializeAs="String">
                <value />
            </setting>
            <setting name="parametro4" serializeAs="String">
                <value />
            </setting>
            <setting name="campo5" serializeAs="String">
                <value>Campo 5</value>
            </setting>
            <setting name="campo5_un" serializeAs="String">
                <value />
            </setting>
            <setting name="parametro5" serializeAs="String">
                <value />
            </setting>
            <setting name="ligado1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ligado2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ligado3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ligado4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ligado5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="clear_on_send" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="thingspeak_API_key" serializeAs="String">
                <value />
            </setting>
            <setting name="ligado_thingspeak" serializeAs="String">
                <value>False</value>
            </setting>
        </Arduino_Monitor.Properties.Settings>
    </userSettings>
</configuration>